/* NSS American Caving Accidents    */
/* www.caves.org - Hunstsville, AL  */
/* Placed: 2015-1-31,  M. Bowers    */

.required { color: #dd1010; }
.strong { font-weight: bold; }
.shaded { background-color: #ffd9ba; }
.l_margin18 {margin-left: 18px;}
.l_margin36 {margin-left: 36px;}

