

.column {
	width:5in;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:3em;
}

.center {
	text-align:center;
}

.paragraph{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: right;
}


table{
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 4em;
	margin-top:1em;
	font-size:13px;
}

.incident_table td,tr,th{
	border: 1px solid black;
	padding: 4px;
}

.incident_table thead{
	font-weight: bold;
	background-color:darkgray;
}

.incident_table tr:nth-child(even){
	background-color:lightgray;
}


.incident_table_header
{
	font-weight: bold;
	font-size: 24px;
	text-align:center;	
}

.even{
	background-color:lightgray;
}

.small-print{
	font-size: 10px;
	color: red;
}